anyio==4.6.2.post1
certifi==2024.8.30
freezegun==1.5.1
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
idna==3.10
iniconfig==2.0.0
mirakuru==2.5.3
packaging==24.2
pluggy==1.5.0
port-for==0.7.4
psutil==6.1.0
PyMySQL==1.1.1
pytest==8.3.3
-e git+ssh://git@github.com/ftnext/first-python-test-2024.git@10117f9775702a0689c70133fb8a3d2ee98c39c3#egg=pytest_introduction&subdirectory=study/fujine-2024
pytest-mysql==3.0.0
pytest-randomly==3.16.0
python-dateutil==2.9.0.post0
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.36
typing_extensions==4.12.2
